mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/content/${path}`) alt=altName class=className)
  
mixin navList(className)
  nav.nav(class=`nav--${className}`)
    a.nav__link main
    a.nav__link about
		
